body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.content {
  padding: 20px;
}

.header {
  padding: 10px;
  background: #edf2f4;
  border-bottom: 1px solid #999;
}
.header a {
  color: #0072ff;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 5px;
}
.header a:hover {
  color: #8a0f53;
}
.header small {
  color: #666;
}
.header .active {
  color: #2c7613;
}

/*.site-layout {*/
/*  background: #fff; !* Background color for the layout *!*/
/*}*/

.site-layout-background {
  background: #001529; /* Background color for the header */
  padding: 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 64px; /* Adjust height as needed */
}

.user-info {
  display: flex;
  align-items: center;
}
.user-info span {
  margin-right: 16px; /* Adjust spacing between elements */
  color: white; /* Text color */
}

/* Styling for the logout button */
.user-info button {
  color: white;
}
.user-info button:hover {
  color: #1890ff; /* Change color on hover */
}
.ant-card .ant-card-body {
  padding: 0px; 
  border-radius: 0 0 4px 4px; 
}